<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Šildymas / vėdinimas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of premises" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <ion-badge *ngIf="item.params[0].current" item-end color="danger">{{item.params[0].current/2}}°</ion-badge>
    </button>
  </ion-list>
</ion-content>
