<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.title}}
      <ion-icon [name]="selectedItem.icon"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
  <h3 text-center *ngIf="selectedItem">

  </h3>
-->
<!--
  <h4 text-center *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.title}}</b>
  </h4>
-->

<ion-list>
  <div *ngIf="this.temperature">
  <ion-list-header>Temperatūra</ion-list-header>
  <ion-item-group>
    <ion-item-divider color="light">
        <ion-label>{{this.temperature.params.current/2}}°</ion-label>
        <ion-badge color="danger" item-end>{{this.temperature.params.level/2}}°</ion-badge>
    </ion-item-divider>

    <ion-item>
      <ion-range min="32" max="60" color="danger" snaps="true" debounce="500" [(ngModel)]="this.temperature.params.level" (ionChange)="temperatureChange($event, temperature)">
        <ion-icon range-left small color="danger" name="thermometer"></ion-icon>
        <ion-icon range-right color="danger" name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>

  </ion-item-group>
  <ion-item-group *ngIf="this.temperature.params.priority!==undefind">
    <ion-item-divider color="light">
        <ion-label>Prioritetas</ion-label>
        <ion-badge item-end>{{selectedItem.params[0].priorities[0].label}}</ion-badge>
        <ion-toggle checked="false" [(ngModel)]="this.temperature.params.priority" (ionChange)="priorityChange($event, this.temperature)"></ion-toggle>
        <ion-badge item-end>{{selectedItem.params[0].priorities[1].label}}</ion-badge>
    </ion-item-divider>
  </ion-item-group>
  <ion-item-group *ngIf="this.temperature.params.conditioning!==undefind">
    <ion-item-divider color="light">
        <ion-label>Kondicionieriai</ion-label>
        <ion-badge item-end>Off</ion-badge>
        <ion-toggle checked="false" [(ngModel)]="this.temperature.params.conditioning" (ionChange)="airconChange($event, this.temperature)"></ion-toggle>
        <ion-badge item-end>Auto</ion-badge>
    </ion-item-divider>
  </ion-item-group>
  </div>
</ion-list>


</ion-content>
