page-home {
  ion-slide.swiper-slide {
    align-items: flex-start;

  }
  ion-slide.swiper-slide .slide-zoom {
    text-align: left;
  }

  $slides-pagination-bullet-color-active:       color($colors, primary) !default;

  .swiper-pagination-bullet-active {
    background: $slides-pagination-bullet-color-active;
  }
}
